
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Control Documentos & CO</h2>
    <p>
        En determinada empresa, cada departamento elabora documentos: memorandums, solicitudes,
        comunicaciones, etc.
        Se desea llevar un control de los documentos que se emiten, para fines de auditoria y calidad.
        La aplicacion ha de ayudar a generar una numeracion secuencial que será usada en cada documento
        emitido por los departamentos
    </p>
</div>
